.red-text {
    color: orangered;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#selectedList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* padding: 10px; */
}

#selectedList li {
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}